# An Analysis of Paleo to present Climate Change Data

<details>

<summary> Student Details </summary>

| Student| Details |
| -------- | -------- |
| Course: | KDATG_L08_Y1 |
| Author: | Rebecca Hannah Quinn |
| Student Number: | G00425671 |

</details>

---

## Project Goals

To Analyse CO2 vs Temperature Anomaly for the past 800,000 years to the present day.
To examine the change in the polar-ice coverage alongside this.
To examine the changes in Ireland and Irish climate change signals.

In gathering this information and data I will fuse and analyse the data using pandas dataframes and export the results to csv and json formats.

I will be anaylising the data, the trends, the relationships between them including but not limited to: temporal leads, lags, and frequencies. I will also use synthesised data to predict global temperature anomoly over the next few decades and compare to published models of the same to see if atmospherice CO2 trends continue and comment on the accelerated warming based on the latest features with temperatures polar-ice coverage and ocean and sea levels.



<details>

<summary> Table of Contents </summary>

[PRE-PROCESSING](#01)

[SECTION 2](#02)

[SECTION 3](#03)

[SECTION 4](#04)

[SECTION 5](#05)

[SECTION 6](#06)

[References](#07)

</details>

---

## Introduction


There have been studies on the Earth"s climate that have resulted in data as far back as 800,000 years by extracting core samples from deep beneath the ice sheets of Greenland and Antarctica. These samples contain detailed information on air temperature and CO2 levels that are trapped within them. Current polar records demonstrate a close association between atmospheric carbon dioxide and temperature in the natural world. In essence, when one increases, the other one follows.

However, there is still some uncertainty about which occurred first - a spike in temperature or CO2. Until now, the most extensive records to date on a significant change in Earth"s climate came from the EPICA Dome C ice core on the Antarctic Plateau. The data, which covered the end of the last ice age, between 20,000 and 10,000 years ago, indicated that CO2 levels could have lagged behind rising global temperatures by as much as 1,400 years.
[1]: https://www.scientificamerican.com/article/ice-core-data-help-solve/#:~:text=Scientists%20use%20air%20trapped%20in,than%20the%20ice%20surrounding%20them.


<a id="01i">

## Pre-processing

</a>

### Import Packages

In [8]:
#importing packages required for analysis and visualization
import pandas as pd

### Initial Adjustments

In [7]:
#Specifying which row to use as the column headings later
header_row_index = 6 

#Read the xls file without specifying headers and specifying the specific xls sheet to read from

gas_co2 = pd.read_excel("DATA Files/EPICA-DOMEC-DEUT_TEMP.xls", sheet_name=2, header=None, skiprows=range(header_row_index))

#Extract the new column names from the specified row further down the xls file
new_columns = gas_co2.iloc[0]

#Assign the new column names
gas_co2.columns = new_columns

#Drop the first row (header row) since it"s not needed with column title change
gas_co2 = gas_co2.drop(0)

#Reset the index 
gas_co2.reset_index(drop=True, inplace=True)

#Test results of first 5 rows
gas_co2.head()

0 EDC3_gas_a (yr) CO2 (ppmv)
0             137      280.4
1             268      274.9
2             279      277.9
3             395      279.1
4             404      281.9

### Merging Old and New Data

In [13]:
skip_columns = ["unc"]
moanaldata = pd.read_csv("DATA Files/gml.noaa.gov.csv", skiprows=(37), usecols=lambda column: column not in skip_columns)
moanaldata.head()

   year    mean
0  1979  336.85
1  1980  338.91
2  1981  340.11
3  1982  340.86
4  1983  342.53


---

<a id="02i">

## SECTION 2

</a>

In [ ]:
#SECTION 2 - PYTHON CELL



---

<a id="03i">

## SECTION 3

</a>

In [ ]:
#SECTION 3 - PYTHON CELL



---

<a id="04i">

## SECTION 4

</a>

In [ ]:
#SECTION 4 - PYTHON CELL



---

<a id="05i">

## SECTION 5

</a>

In [ ]:
#SECTION 5 - PYTHON CELL



---

<a id="06i">

## SECTION 6

</a>

In [ ]:
#SECTION 6 - PYTHON CELL



---

<a id="07i">

## REFERENCES

</a>


---