# An Analysis of Paleo to present Climate Change Data

<details>

<summary> Student Details </summary>

| Student| Details |
| -------- | -------- |
| Course: | KDATG_L08_Y1 |
| Author: | Rebecca Hannah Quinn |
| Student Number: | G00425671 |

</details>

---

## Project Goals

To Analyse CO2 vs Temperature Anomaly for the past 800,000 years to the present day.
To examine the change in the polar-ice coverage alongside this.
To examine the changes in Ireland and Irish climate change signals.

In gathering this information and data I will fuse and analyse the data using pandas dataframes and export the results to csv and json formats.

I will be anaylising the data, the trends, the relationships between them including but not limited to: temporal leads, lags, and frequencies. I will also use synthesised data to predict global temperature anomoly over the next few decades and compare to published models of the same to see if atmospherice CO2 trends continue and comment on the accelerated warming based on the latest features with temperatures polar-ice coverage and ocean and sea levels.

TABLE OF CONTENTS DOES NOT LINK CORRECTLY - CHECK AT END
<details>

<summary> Table of Contents </summary>

[Introduction](#introduction)

[Pre-processing](#pre-processing)

[Data](#data)

[Adjustments](#adjustments)

[Analysis](#analysis)

[Predictions](#predictions)

[References] (#references)

</details>

---

## Introduction

There have been studies on the Earth"s climate that have resulted in data as far back as 800,000 years by extracting core samples from deep beneath the ice sheets of Greenland and Antarctica. These samples contain detailed information on air temperature and CO2 levels that are trapped within them. Current polar records demonstrate a close association between atmospheric carbon dioxide and temperature in the natural world. In essence, when one increases, the other one follows.

However, there is still some uncertainty about which occurred first - a spike in temperature or CO2. Until now, the most extensive records to date on a significant change in Earth"s climate came from the EPICA Dome C ice core on the Antarctic Plateau. The data, which covered the end of the last ice age, between 20,000 and 10,000 years ago, indicated that CO2 levels could have lagged behind rising global temperatures by as much as 1,400 years.
[1]: https://www.scientificamerican.com/article/ice-core-data-help-solve/#:~:text=Scientists%20use%20air%20trapped%20in,than%20the%20ice%20surrounding%20them.


## Pre-processing

---

### Import Packages

In [ ]:
#importing packages required for analysis and visualization
import requests
from io import StringIO
from IPython.display import display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading in the Data - Global Readings

### CO2

---

#### CO2 Data 1 - NCEI 1855 - 1960

In [ ]:
epica1col = ["year", "co2", "sigma"]
epica8kyr1 = pd.read_excel("https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/antarctica2015co2.xls", sheet_name="CO2 Composite", skiprows=59, names=epica1col)
epica8kyr1["year"] = epica8kyr1["year"].astype(int)

# The code below flips the sign of the "year" values and adds 1950 to them. 
# This is for converting the "year" values to a specific reference point: the year 1950. 

epica8kyr1["year"] = -1 * epica8kyr1["year"] + 1950
epica8kyr1 = epica8kyr1.sort_values(by="year", ascending=False)
epica8kyr1.to_csv("epica8kyr1.csv", index=False)

#### CO2 Data 2 - Global Monitoring Laboratory - 1959 - 2023

In [ ]:
epica2col = ["year", "co2", "unc"]
epica8kyr2 = pd.read_csv("https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_annmean_mlo.csv", skiprows=44, sep=",", names=epica2col)

#### CO2 Data 3 - Mauna Lon Observeratory - 1984 - 2023

In [ ]:
epica3col = ["year", "co2", "unc"]
url3 = "https://gml.noaa.gov/webdata/ccgg/trends/ch4/ch4_annmean_gl.txt"
response = requests.get(url3)
if response.status_code == 200:
    text = response.text
    epica8kyr3 = pd.read_fwf(StringIO(text), names=epica3col, skiprows=45, header=0)
    epica8kyr3 = epica8kyr3.sort_values(by="year", ascending=False)  #corrected
    epica8kyr3.to_csv("epica8kyr3.csv", index=False)

##### Initial Analysis

###### Epica CO2 Data 1

In [ ]:
epica8kyr1.head() # head function to check first data lines

In [ ]:
epica8kyr1.tail()

In [ ]:
epica8kyr1.columns # info and columns for merging

In [ ]:
epica8kyr1.info()

---

###### Epica CO2 Data 2

In [ ]:
epica8kyr2.head()

In [ ]:
epica8kyr2.tail()

In [ ]:
epica8kyr2.columns

In [ ]:
epica8kyr2.info()

---

###### Epica CO2 Data 3

In [ ]:
epica8kyr3.head()

In [ ]:
epica8kyr3.tail()

In [ ]:
epica8kyr3.columns

In [ ]:
epica8kyr3.info()

### CH4

---

#### CH4 Data 1

In [458]:
colnames = ["year", "ch4", "unc"]
noaach4 = "https://gml.noaa.gov/webdata/ccgg/trends/ch4/ch4_annmean_gl.txt"

response = requests.get(noaach4)

if response.status_code == 200:
    text = response.text
    noaach4df = pd.read_fwf(StringIO(response.text), names=colnames, widths=[6, 12, 8], skiprows=44, header=0)
    noaach4sort = noaach4df.sort_index(ascending=False)
    noaach4sort.to_csv("noaach4new.csv", index=False)
    
noaach4sort.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 39 to 0
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    40 non-null     int64
 1   ch4     40 non-null     float64
 2   unc     40 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.2 KB

#### CH4 Data 2

In [459]:
ch4names = ["year", "ch4"]
ch4data = pd.read_csv("https://climatechange.chicago.gov/sites/production/files/2016-08/ghg-concentrations_fig-2.csv", usecols=[0, 1], skiprows=7, header=0, names=ch4names)
ch4data["year"] = pd.to_numeric(ch4data["year"], errors="coerce")
ch4data = ch4data.dropna(subset=["year"])
ch4data["year"] = ch4data["year"].astype(int)
ch4data.to_csv("ch4data.csv")

ch4data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2207 entries, 0 to 2207
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2207 non-null   int64
 1   ch4     2103 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 51.7 KB

##### Initial Analysis

##### CH4 DATA 1

In [ ]:
noaach4sort.head()

In [ ]:
noaach4sort.tail()

In [ ]:
noaach4sort.describe()

In [ ]:
noaach4sort.columns

##### CH4 DATA 2

In [ ]:
ch4data.head()

In [ ]:
ch4data.tail()

In [ ]:
ch4data.describe()

In [ ]:
ch4data.columns

### Temperature

---

#### Temperature Data 1

In [ ]:
epicadeut = "https://www.ncei.noaa.gov/pub/data/paleo/icecore/antarctica/epica_domec/edc3deuttemp2007.txt"

response = requests.get(epicadeut)

if response.status_code == 200:
    text = response.text
    epicadeutdf = pd.read_csv(StringIO(text), sep="\s+", skiprows=89, header=0)
    epicadeutdf.rename(columns={"Age": "year"}, inplace=True)
    epicadeutdf.rename(columns={"Temperature": "temp"}, inplace=True)
    epicadeutdf["year"] = epicadeutdf["year"].astype(int)
    epicadeutdf["year"] = -1 * epicadeutdf["year"] + 1950
    epicadeutdf["temp"] = epicadeutdf["temp"] + (-54.5)
    
    epicacols = epicadeutdf.iloc[:, [2, 4]]

epicacols.to_csv("epicadeut.csv", index=False)

#### Temperature Data 2

In [ ]:
noaanames=["year", "temp"]
noaatemp = pd.read_csv("https://www.ncei.noaa.gov/access/monitoring/climate-at-a-glance/global/time-series/antarctic/land_ocean/12/11/1850-2023/data.csv", skiprows=5, names=noaanames, header=0)
noaatemp["temp"] = pd.to_numeric(noaatemp["temp"], errors="coerce")
noaatemp["temp"] = noaatemp["temp"] + (-54.5)
noaasort = noaatemp.sort_values(by="year", ascending=False)
noaasort.to_csv("noaatemp.csv", index=False)

##### Initital Analysis

In [ ]:
epicacols.head()

In [ ]:
epicacols.tail()

In [ ]:
epicacols.info()

In [ ]:
epicacols.describe()

In [ ]:
epicacols.columns

---

In [ ]:
noaasort.head()

In [ ]:
noaasort.tail()

In [ ]:
noaasort.info()

In [ ]:
noaasort.describe()

In [ ]:
noaasort.columns

### Initial Data Adjustments

---

#### Data Clean-up

In [ ]:
epica8kyr2["year"] = epica8kyr2["year"].astype(int) # change data within the year column to an integer
epica8kyr2 = epica8kyr2.sort_values(by="year", ascending=False)  # sort column by year
epica8kyr2.to_csv("epica8kyr2.csv", index=False) #s ave to csv

##### CO2 - Merge Data

In [ ]:
mergeddata = pd.merge(epica8kyr3, epica8kyr2, on=["year", "co2", "unc"], how="outer")
mergeddata = pd.merge(mergeddata, epica8kyr1, on=["year", "co2"], how="outer")

mergeddata.to_csv("mergedco2data.csv", index=False)
mergeddata.columns # check columns merged correctly

In [460]:
mergeddata.head() # remove nan items leave only co2
mergeddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    1961 non-null   int64
 1   co2     1961 non-null   float64
 2   unc     105 non-null    float64
 3   sigma   1856 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 61.4 KB

##### CH4 - Merge Data

In [ ]:
mergech4 = pd.merge(ch4data, noaach4sort, on=["year", "ch4"], how="outer")
mergech4.to_csv("mergedch4.csv", index=False)

In [ ]:
mergech4.columns

In [461]:
mergech4.head()
mergech4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2247 non-null   int64
 1   ch4     2143 non-null   float64
 2   unc     40 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 52.8 KB

#### Temperature

##### Temperature - Merge Data

In [ ]:
mergetemp = pd.merge(noaasort, epicacols, on=["year", "temp"], how="outer")
mergetemp.to_csv("tempsmerge.csv", index=False)

In [ ]:
mergetemp.head()

In [463]:
mergetemp.shape # check the merge went correctly
mergetemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5971 entries, 0 to 5970
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    5971 non-null   int64
 1   temp    5956 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 93.4 KB

### Statistical Measurement

---

### CO2

In [ ]:
mean_value = mergeddata["co2"].mean()
print(f"CO2 Data Mean Value: {mean_value}")

median_value = mergeddata["co2"].median()
print(f"CO2 Data Median Value: {median_value}")

std_deviation = mergeddata["co2"].std()
print(f"CO2 Data Standard Deviation: {std_deviation}")

correlation = mergeddata["co2"].corr(mergeddata["year"])
print(f"CO2 Data Standard Deviation: {correlation}")

### CH4

In [ ]:
mean_value = mergech4["ch4"].mean()
print(f"CH4 Data Mean Value: {mean_value}")

median_value = mergech4["ch4"].median()
print(f"CH4 Data Median Value: {median_value}")

std_deviation = mergech4["ch4"].std()
print(f"CH4 Data Standard Deviation: {std_deviation}")

correlation = mergech4["ch4"].corr(mergech4["year"])
print(f"CH4 Data Standard Deviation: {correlation}")

### TEMPERATURE

In [ ]:
mean_value = mergetemp["temp"].mean()
print(f"Temp Data Mean Value: {mean_value}")

median_value = mergetemp["temp"].median()
print(f"Temp Data Median Value: {median_value}")

std_deviation = mergetemp["temp"].std()
print(f"Temp Data Standard Deviation: {std_deviation}")

correlation = mergetemp["temp"].corr(mergetemp["year"])
print(f"Temp Data Standard Deviation: {correlation}")

## Irish Context

---

### Temperature

In [ ]:
#yearly averages temp ireland
# Step 1: Load the CSV file
glasnevin1823 = pd.read_csv("DATA Files/dly1823.csv", delimiter=",", header=10, skiprows=list(range(17, 7320)))

# Step 2: Convert the "date" column to datetime format and extract the year
glasnevin1823["date"] = pd.to_datetime(glasnevin1823["date"], errors="coerce")
glasnevin1823["year"] = glasnevin1823["date"].dt.year

# Ensure "maxt" and "mint" columns are numeric
glasnevin1823["maxt"] = pd.to_numeric(glasnevin1823["maxt"], errors="coerce")
glasnevin1823["mint"] = pd.to_numeric(glasnevin1823["mint"], errors="coerce")

# Step 3: Group by "year" and calculate the mean of "maxt" and "mint" for each year
yearly_avg1 = glasnevin1823.groupby("year").agg({
    "maxt": "mean",
    "mint": "mean"
}).reset_index()

# Drop any rows with missing data if necessary
yearly_avg1.dropna(inplace=True)

yearly_avg1.head()

In [ ]:
# decade averages

# Step 1: Load the CSV file
glasnevin1823 = pd.read_csv("DATA Files/dly1823.csv", delimiter=",", header=10, skiprows=list(range(17, 7320)))

# Step 2: Convert the "date" column to datetime format and extract the year
glasnevin1823["date"] = pd.to_datetime(glasnevin1823["date"], errors="coerce")
glasnevin1823["year"] = glasnevin1823["date"].dt.year

# Ensure "maxt" and "mint" columns are numeric
glasnevin1823["maxt"] = pd.to_numeric(glasnevin1823["maxt"], errors="coerce")
glasnevin1823["mint"] = pd.to_numeric(glasnevin1823["mint"], errors="coerce")

# Step 3: Group by "year" and calculate the mean of "maxt" and "mint" for each year
yearly_avg2 = glasnevin1823.groupby("year").agg({
    "maxt": "mean",
    "mint": "mean"
}).reset_index()

# Drop any rows with missing data if necessary
yearly_avg2.dropna(inplace=True)

# Step 4: Calculate decade averages
yearly_avg2["decade"] = (yearly_avg2["year"] // 10) * 10
decade_avg = yearly_avg2.groupby("decade").agg({
    "maxt": "mean",
    "mint": "mean"
}).reset_index()

decade_avg.head()

### Rainfall

In [ ]:
station108 = pd.read_csv("DATA Files/mly108-foulkesmill1873.csv", delimiter=",")
station108cols = station108[["year", "rain"]] # shows only required columns
station108cols.head()
# testing the csv was read correctly

In [ ]:
station1603 = pd.read_csv("DATA Files/mly1603.csv", header=0, delimiter=",", skiprows=13)

In [ ]:
station1603 = station1603.drop(index=range(5)).reset_index(drop=True)

In [ ]:
station1823 = pd.read_csv("DATA Files/mly1823.csv", delimiter=",", skiprows=13)

station1823cols = station1823[["year", "rain"]]
station1823cols.head()

In [ ]:
station1823.describe() # checking info for errors with rows and delimiter

In [ ]:
yearlyrainfall = station108.groupby("year")["rain"].sum().reset_index()

yearlyrainfall.head(14) #testing groubed by worked for each year/month


## Analysis

### Plot Overview

In [ ]:
years = mergeddata["year"]
co2values = mergeddata["co2"]
ch4values = mergech4["ch4"]
tempvalues = mergetemp["temp"]

globaldata_overview = pd.DataFrame({
    "years": years,
    "tempvalues": tempvalues,
    "co2values": co2values,
    "ch4values": ch4values
})

# drop NaN
globaldata_cleaned = globaldata_overview.dropna() 

# create fig/plots
fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(10, 8), sharex=True)

# temp plot on ax1
sns.lineplot(x="years", y="tempvalues", data=globaldata_cleaned, ax=ax1, label="Temp")
ax1.set_ylabel("Temperature Anomalies")
ax1.legend()

# CO2/CH4 on ax2
sns.lineplot(x="years", y="co2values", data=globaldata_cleaned, ax=ax2, label="CO2", color="r")
sns.lineplot(x="years", y="ch4values", data=globaldata_cleaned, ax=ax2, label="CH4", color="g")
ax2.set_ylabel("Concentrations")
ax2.legend()

# title
fig.suptitle("CO2 and CH4 Over Years", fontsize=16)
ax2.set_xlabel("Year")

# layout
plt.tight_layout(rect=[0, 0, 1, 0.95])  # Adjust for the suptitle

# show/save fig plot

plt.savefig("ch4co2_overview.jpg")
plt.show()

### CO2 - Plots

In [ ]:
plt.figure(figsize=(18, 16))
plt.plot(mergeddata["year"], mergeddata["co2"], color="blue")
plt.xlabel("YEAR", fontsize=20)
plt.ylabel("CO2", fontsize=20)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.title("CO2 V Time", fontsize=20)
plt.tight_layout()
plt.savefig("lineplot1.png")

# styles
sns.set_style("whitegrid")
sns.set_context("paper")

In [ ]:
plt.figure(figsize=(16, 12))

# lineplot
sns.lineplot(data=mergeddata, x="year", y="co2", color="green")

# labels
plt.xlabel("Year", fontsize=14)
plt.ylabel("CO2 Levels", fontsize=14)
plt.title("CO2 Levels Over Time", fontsize=14)
plt.xticks(rotation=45, fontsize=20)
plt.yticks(fontsize=20)


plt.tight_layout()  # spacing
plt.savefig("snslineplotnew.png")

### CH4 - Plots

In [ ]:
# style
sns.set_style("whitegrid")
sns.set_context("paper")

# size
plt.figure(figsize=(16, 12))

# lineplot
sns.lineplot(data=mergech4, x="year", y="ch4", color="blue")

# labels
plt.xlabel("Year", fontsize=12)
plt.ylabel("CH4", fontsize=12)
plt.title("CH4 Levels", fontsize=14)
plt.xticks(rotation=45)

# ticks spacing
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)


plt.tight_layout()  # additional spacing
plt.savefig("ch4levels2.png")

In [ ]:
plt.figure(figsize=(16, 12))
# lineplot
sns.lineplot(data=mergech4, x="year", y="ch4", color="blue")

# labels
plt.xlabel("Year", fontsize=12)
plt.ylabel("CH4", fontsize=12)
plt.title("CH4 Levels", fontsize=14)
plt.xticks(rotation=45)

# ticks spacing
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)


plt.tight_layout()  # additional spacing
plt.savefig("ch4levels2.png")

In [ ]:
plt.figure(figsize=(16, 12))
# selection of data for demonstration

sns.set_style("whitegrid")
sns.set_context("notebook")

sns.lineplot(data=mergeddata, x="year", y="co2", label="CO2")
sns.lineplot(data=ch4data, x="year", y="ch4", label="Mean CH4")

plt.title("CO2 and Mean CH4 from 8kyr before present")
plt.xlabel("Year")
plt.ylabel("Value")

plt.legend()

plt.savefig("CO2CH4mean8kyr.jpg")
plt.show()

### Temperature - Plots

In [ ]:
# yearly average
plt.figure(figsize=(10, 6))
plt.plot(yearly_avg1["year"], yearly_avg1["maxt"], label="Avg Max Temp by Year", color="r", marker="o", linewidth=2)
plt.plot(yearly_avg1["year"], yearly_avg1["mint"], label="Avg Min Temp by Year", color="b", marker="o", linewidth=2)

# adding labels, title, and grid
plt.xlabel("Year")
plt.ylabel("Temperature (°C)")
plt.title("Average Max and Min Temperatures by Year")
plt.legend()
plt.grid(True)

# show/save the plot
plt.savefig("irishtemperatures_yearly_avg.jpg")
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(decade_avg["decade"], decade_avg["maxt"], label="Avg Max Temp by Decade", color="r", marker="o", linewidth=2)
plt.plot(decade_avg["decade"], decade_avg["mint"], label="Avg Min Temp by Decade", color="b", marker="o", linewidth=2)

# labels, title, and grid
plt.xlabel("Decade")
plt.ylabel("Temperature (°C)")
plt.title("Average Max and Min Temperatures by Decade")
plt.legend()
plt.grid(True)

# show/save plot
plt.savefig("irishtemperatures_decade_avg.jpg")
plt.show()

### Rainfall - Plots

In [ ]:
plt.figure(figsize=(16, 8))

plt.plot(yearlyrainfall["year"], yearlyrainfall["rain"], label="Irish Rainfall 1941-2024", color="blue", linewidth=1)
plt.scatter(yearlyrainfall["year"], yearlyrainfall["rain"], color="red", edgecolor="red", s=50, marker="o")

plt.xticks(yearlyrainfall["year"], rotation=45, fontsize=8)

plt.xlabel("Year")
plt.ylabel("Rainfall (mm)")
plt.title("Irish Rainfall 1941-2024")
plt.grid(axis="x", linestyle="--", color="gray", alpha=0.7)

plt.legend()

In [ ]:
# Step 1: Filter years for every decade (years ending in 0) for rainfall
decade_ticks = np.arange(yearlyrainfall["year"].min(), yearlyrainfall["year"].max() + 1, 10)

# Step 2: Create subplots
fig, ax1 = plt.subplots(2, 1, figsize=(16, 12))

# Plot 1: Rainfall data
ax1[0].plot(yearlyrainfall["year"], yearlyrainfall["rain"], label="Irish Rainfall 1941-2024", color="blue", linewidth=1)
ax1[0].scatter(yearlyrainfall["year"], yearlyrainfall["rain"], color="red", edgecolor="red", s=50, marker="o")
ax1[0].set_xticks(decade_ticks)
ax1[0].set_xticklabels(decade_ticks, rotation=45, fontsize=8)
ax1[0].set_xlabel("Year")
ax1[0].set_ylabel("Rainfall (mm)")
ax1[0].set_title("Irish Rainfall 1941-2024")
ax1[0].grid(axis="x", linestyle="--", color="gray", alpha=0.7)
ax1[0].legend()

# Plot 2: Temperature data
ax1[1].plot(yearly_avg1["year"], yearly_avg1["maxt"], label="Avg Max Temp by Year", color="r", marker="o", linewidth=1)
ax1[1].plot(yearly_avg1["year"], yearly_avg1["mint"], label="Avg Min Temp by Year", color="b", marker="o", linewidth=1)
ax1[1].set_xticks(decade_ticks)
ax1[1].set_xticklabels(decade_ticks, rotation=45, fontsize=8)
ax1[1].set_xlabel("Year")
ax1[1].set_ylabel("Temperature (°C)")
ax1[1].set_title("Average Max and Min Temperatures by Year")
ax1[1].grid(axis="x", linestyle="--", color="gray", alpha=0.7)
ax1[1].legend()

# Adjust layout for better spacing
plt.tight_layout()

# Save the combined plot as an image file
plt.savefig("combined_irish_rainfall_temperature_plot.jpg")

# show/save plot

plt.savefig("irishrainfall_v_temp_1961-2024.jpg")
plt.show()

### Trends

In [ ]:
# moving averages and trends

# calculate moving averages - 100year blocks
window_size = 100
globaldata_cleaned.loc[:, "temp_ma"] = globaldata_cleaned["tempvalues"].rolling(window=window_size).mean()
globaldata_cleaned.loc[:, "co2_ma"] = globaldata_cleaned["co2values"].rolling(window=window_size).mean()
globaldata_cleaned.loc[:, "ch4_ma"] = globaldata_cleaned["ch4values"].rolling(window=window_size).mean()


fig, ax1 = plt.subplots(figsize=(20, 10))

# moving average
sns.lineplot(x="years", y="tempvalues", data=globaldata_cleaned, ax=ax1, label="Temperature", color="#7F76FF", alpha=0.75, linewidth=0.5,)
sns.lineplot(x="years", y="temp_ma", data=globaldata_cleaned, ax=ax1, label=f"Temperature MA ({window_size} years)", color="#00046C", linestyle="dashdot")

# CO2 and CH4 with moving averages on twin axis plots
ax2 = ax1.twinx()
sns.lineplot(x="years", y="co2values", data=globaldata_cleaned, ax=ax2, label="CO2", color="#F7596E", alpha=0.5)
sns.lineplot(x="years", y="co2_ma", data=globaldata_cleaned, ax=ax2, label=f"CO2 MA ({window_size} years)", color="#AE00BA", linestyle="dashdot")
sns.lineplot(x="years", y="ch4values", data=globaldata_cleaned, ax=ax2, label="CH4", color="#006C32", alpha=0.5)
sns.lineplot(x="years", y="ch4_ma", data=globaldata_cleaned, ax=ax2, label=f"CH4 MA ({window_size} years)", color="#C18E00", linestyle="dashdot")

# setting labels and titles
ax1.set_xlabel("Year")
ax1.set_ylabel("Temperature Anomalies", color="b")
ax1.tick_params(axis="y", labelcolor="b")
ax2.set_ylabel("Concentrations", color="k")
ax2.tick_params(axis="y", labelcolor="k")
fig.suptitle("Temperature, CO2, and CH4 with Moving Averages")

# adding legends
lines, labels = ax1.get_legend_handles_labels()
lines2, labels2 = ax2.get_legend_handles_labels()
ax1.legend(lines, labels, loc="upper left")
ax2.legend(lines2, labels2, loc="upper right")

# layout
fig.tight_layout(rect=[0, 0, 1, 0.95])  # Adjust for the suptitle

# show/save figure
plt.savefig("temperature_co2_ch4_moving_averages.jpg")
plt.show()


### Relationships



---

<a id="03i">

## Predictions

</a>

### Synthetic Data


### Comparisons with Published Climate Models

In [ ]:
#SECTION 3 - PYTHON CELL



---

<a id="07i">

## REFERENCES

</a>


---